<section class="h-full flex items-center justify-center">
  <div class="w-[50%] max-w-[400px] mx-auto">
    <h1 class="h1">Forget Password</h1>
    <p>Please enter the correct details</p>
    <form
      class="my-5 flex flex-col gap-5"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="email">Email address *</label>
        <input
          type="email"
          formControlName="email"
          class="border border-secondary/30 rounded-lg w-full p-3 mt-2"
          placeholder="Enter email address"
        />
      </div>

      <button
        [disabled]="loading || changePasswordForm.invalid"
        mat-flat-button
        class="!bg-primary !text-white py-3 disabled:!bg-gray-300"
      >
        <a class="inline-flex">
          Confirm <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
        </a>
      </button>
    </form>
  </div>
</section>
