<section class="h-full flex items-center justify-center">
  <div class="w-[50%] max-w-[400px] mx-auto">
    <h1 class="h1">Change Password</h1>
    <p>Please enter the correct details</p>
    <form
      class="my-5 flex flex-col gap-5"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="otp">OTP *</label>
        <input
          formControlName="otp"
          type="text"
          class="border border-secondary/30 rounded-lg w-full p-3 mt-2"
          placeholder="Enter otp code"
        />
        <ul
          class="text-red-500 text-xs"
          *ngIf="
            changePasswordForm.get('otp')?.touched &&
            changePasswordForm.get('otp')?.invalid
          "
        >
          <li
            *ngIf="
              changePasswordForm.get('otp')?.hasError('minlength') ||
              changePasswordForm.get('otp')?.hasError('maxlength')
            "
          >
            Otp is 6 characters long
          </li>
          <li *ngIf="changePasswordForm.get('otp')?.hasError('required')">
            Otp is required
          </li>
          <li *ngIf="changePasswordForm.get('otp')?.hasError('pattern')">
            Otp must be only digits
          </li>
        </ul>
      </div>

      <div>
        <label for="password">Password *</label>
        <input
          formControlName="password"
          type="password"
          class="border border-secondary/30 rounded-lg w-full p-3 mt-2"
          placeholder="Enter password "
        />
        <div
          class="text-red-500"
          *ngIf="
            changePasswordForm.get('password')?.touched &&
            changePasswordForm.get('password')?.invalid
          "
        >
          <small
            *ngIf="changePasswordForm.get('password')?.hasError('required')"
            >Password is required</small
          >
          <small *ngIf="changePasswordForm.get('password')?.hasError('pattern')"
            >Password must be contain at least one uppercase,<br />
            one lowercase <br />
            one digit <br />and must be at least 8 characters long</small
          >
        </div>
      </div>

      <div>
        <label for="confirmPassword">Confirm Password *</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="border border-secondary/30 rounded-lg w-full p-3 mt-2"
          placeholder="Enter password "
        />
        <div
          class="text-red-500"
          *ngIf="
            (changePasswordForm.get('confirmPassword')?.touched &&
              changePasswordForm.get('confirmPassword')?.invalid) ||
            changePasswordForm.getError('confirmPassword')
          "
        >
          <small
            *ngIf="
              changePasswordForm.get('confirmPassword')?.hasError('required')
            "
            >Confirm Password is required</small
          >
          <small
            *ngIf="
              changePasswordForm
                .get('confirmPassword')
                ?.hasError('confirmedValidator')
            "
            >Passwords don't match</small
          >
        </div>
      </div>

      <button
        [disabled]="!changePasswordForm.valid || loading"
        mat-flat-button
        class="!bg-primary !text-white py-3 disabled:!bg-gray-300 flex"
        type="submit"
      >
        <p class="inline-flex">
          Submit &nbsp;
          <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
        </p>
      </button>
    </form>
  </div>
</section>
