<section class="bg-[#1C1C1C] py-20 w-full text-[#FEFEFE]">
  <div class="center">
    <h1 class="h1 lg:max-w-1/2">Stay Updated with Our <br />Newsletter</h1>
    <p class="lg:max-w-1/2 text-xl my-5">
      Subscribe to our newsletter to receive updates on new events and platform
      features
    </p>
    <form>
      <div class="flex items-center gap-5">
        <input
          class="bg-[#FEFEFE] rounded-lg text-[#A3A3A3] text-normal py-2 px-5 w-full max-w-[400px]"
          placeholder="Enter email address"
        />
        <button mat-flat-button class="!bg-primary !text-white">Submit</button>
      </div>
      <p class="text-xs font-normal mt-5">
        By clicking Sign Up, you confirm that you agree with our Terms and
        Conditions
      </p>
    </form>
  </div>
</section>
