<div class="flex flex-col gap-7">
  <h2 class="font-bold text-2xl border-b-[#EBEBEB] border-b pb-5">
    Privacy Settings
  </h2>
  <div class="pb-3 flex flex-col gap-4 w-[75%]">
    <h4 class="font-bold text-xl">Data Mangement</h4>
    <p>
      As an integral part of our ongoing dedication to safeguarding your
      privacy, we've made it easy for you to obtain your data from Eventwave.
      Once you make a request for your data, a notification will be sent to your
      email address (Johndoe&#64;gmail.com) containing a link to access the data
      archive. For a comprehensive understanding of how we handle your data,
      please take a moment to review our<span class="underline text-primary"
        >Privacy Policy</span
      >.
    </p>
    <button
      mat-stroked-button
      class="!text-primary disable_hover !border-primary w-fit"
    >
      Request data
    </button>
  </div>
  <div class="pb-3 flex flex-col gap-4 w-[75%]">
    <h4 class="font-bold text-xl">Delete my account</h4>
    <p>
      When you delete your account, all your data, including event history and
      profile information, will be permanently removed from our platform. You
      will no longer have access to your account, event details, or any related
      information. Please consider your decision carefully, as this action is
      irreversible. If you have concerns or need assistance, our&nbsp;
      <span class="underline text-primary">support</span> team is here to help.
      Your privacy and data security are our priorities. >.
    </p>
    <button
      mat-stroked-button
      class="!text-primary disable_hover !border-primary w-fit"
    >
      Delete my account
    </button>
  </div>
</div>
