/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
* {
  font-family: Nunito, "Helvetica Neue", sans-serif;
  margin: 0;
}
body {
  @apply text-secondary;
}
button {
  border-radius: 8px !important;
}
.disable_hover:hover {
  background-color: transparent !important;
}
.center {
  @apply w-[90%] mx-auto max-w-[1440px];
}
.h1 {
  @apply text-5xl font-semibold leading-[60px];
}
.mat-mdc-button-persistent-ripple::before {
  background-color: transparent;
}
