<div class="flex flex-col gap-7">
  <h2 class="font-bold text-2xl border-b-[#EBEBEB] border-b pb-5">
    Email Preferences
  </h2>
  <div class="pb-3">
    <h4 class="font-bold text-xl">As Organiser</h4>
    <p>Email me</p>
    <div class="flex flex-col gap-2 mt-5">
      <mat-checkbox class="text-xl"
        >Stay vigilant with email notifications for password reset requests,
        security alerts, and account updates.</mat-checkbox
      >
      <mat-checkbox
        >Get notified when attendees register for your events and keep track of
        your event's popularity</mat-checkbox
      >
      <mat-checkbox
        >Stay in the loop about promotional opportunities, sponsorship deals,
        and marketing tips to help enhance your events.</mat-checkbox
      >
      <mat-checkbox
        >Manage your account more effectively with email notifications about
        password reset requests, security alerts, and account
        updates.</mat-checkbox
      >
      <mat-checkbox
        >Receive feedback and event satisfaction surveys from attendees to
        improve your event planning.</mat-checkbox
      >
    </div>
  </div>
  <div class="pb-3">
    <h4 class="font-bold text-xl">As Attendee</h4>
    <p>Email me</p>
    <div class="flex flex-col gap-5 mt-5">
      <mat-checkbox class="text-xl"
        >Get personalized event recommendations based on your interests,
        location, and past event attendance.</mat-checkbox
      >
      <mat-checkbox
        >Receive email confirmations and timely reminders about ticket purchases
        for events you've registered for.</mat-checkbox
      >
      <mat-checkbox
        >Stay updated on changes to events you're attending, such as schedule
        updates, location changes, or cancellations.</mat-checkbox
      >
      <mat-checkbox
        >Opt in to receive promotional emails, special offers, and discounts
        related to events you might be interested in..</mat-checkbox
      >
      <mat-checkbox
        >Set reminders for events you've joined to ensure you receive timely
        notifications as the event date approaches.</mat-checkbox
      >
      <mat-checkbox
        >Opt in to receive promotional emails, special offers, and discounts
        related to events you might be interested in.</mat-checkbox
      >
    </div>
  </div>
  <!-- //bottom controls -->
  <div class="flex items-center justify-center gap-5 w-[80%]">
    <button
      mat-stroked-button
      class="!text-primary disable_hover !border-primary"
    >
      Cancel
    </button>

    <button mat-flat-button class="!bg-primary !text-white my-3 py-3">
      Save Changes
    </button>
  </div>
</div>
